body {
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
}

h1 {
  font-size: 60px;
  margin: 60px;
}

h1, h4 {
  text-align: center;
}

a {
  width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

a img {
  margin: 40px;
  width: 200px;
  height: auto;
  transition: all 0.25s ease;
}

a img:hover {
  transform: scale(1.15);
}

input.form-control {
  width: 50%;
  margin: 40px auto;
}

button.btn {
  margin-bottom: 40px;
  cursor: pointer;
}

ul#output {
  margin-bottom: 40px;
}

ul#output li {
  list-style: none;
  background-color: #EEE;
  border-radius: 5px;
  margin-bottom: 20px;
}

ul#output li a {
  padding: 15px 0 5px;
  font-size: 18px;
  font-weigth: bold;
}

ul#output li p {
  padding: 0 10px 15px;
}
