
		<!-- TRIPTICO STARTS  -->
		<div class="container-fluid">
			<nav class="navbar-fixed-top">
		    <div class="container-fluid">
		      <div class="row">
		        <div class="col-xs-offset-9 col-xs-3">
							<div id="triptico">

								<div class="top-section">
									<a href="#page1">
										<div id="logo">
											<div class="svg">
												<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">

												<g id="frame">
													<circle class="st0" cx="50" cy="50" r="49.5">
														<animateTransform
														attributeName="transform"
														attributeType="XML"
														type="rotate"
														from="0 50 50"
														to="360 50 50"
														dur="15s"
														repeatCount="indefinite" />
													</circle>
												</g>

												<g id="animatedLogo">

													<!-- < character -->
													<line id="menorQueTop" class="st1" x1="10" y1="50" x2="22" y2="40"/>
													<line id="menorQueBottom" class="st1" x1="10" y1="50" x2="22" y2="60"/>
													<!-- E character -->
													<line id="eTop" class="st1" x1="30" y1="34" x2="42" y2="28"/>
													<line id="eCenterLeft" class="st1" x1="30" y1="42" x2="30" y2="58"/>
													<line id="eCenterRight" class="st1" x1="30" y1="50" x2="38" y2="50"/>
													<line id="eBottom" class="st1" x1="30" y1="66" x2="42" y2="72"/>
													<!-- N character -->
													<line id="nLeft" class="st1" x1="50" y1="26" x2="50" y2="74"/>
													<line id="nCenterLeft" class="st1" x1="50" y1="26" x2="62" y2="50"/>
													<line id="nCenterRight" class="st1" x1="62" y1="50" x2="70" y2="66"/>
													<line id="nRight" class="st1" x1="70" y1="34" x2="70" y2="66"/>
													<!-- > character -->
													<line id="mayorQueTop" class="st1" x1="90" y1="50" x2="78" y2="40"/>
													<line id="mayorQueBottom" class="st1" x1="90" y1="50" x2="78" y2="60"/>

												</g>
											</svg>
										</div>
									</div>
								</a>
							</div>

							<div class="bottom-section">

								<ul id="myMenu">
									<li><a id="high1" href="#home"><span>home</span></a></li>
									<li><a id="high2" href="#resume"><span>resume</span></a></li>
									<li><a id="high3" href="#work"><span>my work</span></a></li>
									<li><a id="high4" href="#contact"><span>contact</span></a></li>
								</ul>

								<ul id="social-media">
									<li>
										<a href="https://github.com/enriquenov" target="_blank"><i class="fa fa-github"></i></a>
									</li>
									<li>
										<a href="https://www.linkedin.com/in/luis-enrique-novoa-135721117/" target="_blank"><i class="fa fa-linkedin" target="_blank"></i></a>
									</li>
									<li>
										<a href="https://codepen.io/enriquenov/" target="_blank"><i class="fa fa-codepen"></i></a>
									</li>
								</ul>
								<ul id="resumePdf">
									<li>
										Download my resume:
									</li>
									<li>
										<a href="enriquenovoa-resume.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
									</li>
								</ul>

								<div id="footer">
									<p>© 2017 Enrique Novoa</p>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>

		<!-- TRIPTICO ENDS  -->

		<div class="container-fluid">


			<div id="home" class="row">

				<div class="col-xs-9">


					<div class="hanger bounceInDownSwing">
					</div>

					<div class="title2 bounceInDownSwing">
						<h1>I'm <span>Enrique Novoa</span></h1>
					</div>

					<header class="header">
	          <div class="slideInLeft title1">
							<p>Hi!</p>
	          </div>
					</header>
				<!-- //HEADER ENDS-->


					<div id="content" class="content clearfix home">
						<section id="section">
							<div class="row">
								<div class="col-12">
									<div id="face" class="face">

										<a href="#portfolio">
											<div id="designer" class="designer">
												<div id="designer-desc" class="description">
													<h1>creative</h1>
													<p>I design targeted responsive websites for better user experience.</p>
												</div>
											</div>
										</a>

										<a href="#about">
											<div id="coder" class="coder">
												<div id="coder-desc" class="description">
													<h1>coder</h1>
													<p>I'm a Front-End Web<br>Developer.</p>
												</div>
											</div>
										</a>

										<img id="face-img" class="face-img" src="img/creative-coder2.jpg">

										<div id="designer-img" class="designer-img"></div>
										<div id="coder-img" class="coder-img"></div>
										<!-- <div id="designer-bg" class="designer-bg"></div> -->
										<!-- <div id="coder-bg" class="coder-bg"></div> -->

									</div>
								</div>
							</div>
						</section>
					</div>

				</div>

				<div class="col-xs-3">

				</div>

			</div>



			<!-- 2. RESUME  -->
			<div id="resume" class="row">

				<div class="col-xs-9">

					<div class="skewTop title3">
						<p>work experience</p>
					</div>

					<div class="skewTop title4">
						<p>about</p>
					</div>

					<div class="container">
						<div class="row">
							<div class="col-xs-4">
								<div class="about">
									<div class="contAnimated">
										<p>Hello there, this is Enrique!<br><br>I currently work as an Independent Contractor Web Developer.</p>
									</div>
									<div class="contAnimated">
										<p>I have solid knowledge of JavaScript, HTML5 and CSS3, and I am -very- passionate about building responsive, minimalist and elegant websites.</p>
									</div>
									<div class="contAnimated">
										<p>I just can't help it. I love what I do, I'm good at it, and I want more!</p>
									</div>
								</div>
							</div>
							<div class="col-xs-4 col-xs-offset-2">
								<div class="experience contAnimated">
									<div class="contAnimated">
										<i class="fa fa-circle-o" aria-hidden="true"></i><h5>Apr 2017 - now</h5>
										<p>Independent Contractor Front-End Web Developer<br>www.enriquenovoa.com</p>
									</div>
									<div class="contAnimated">
										<i class="fa fa-circle-o" aria-hidden="true"></i><h5>Aug 2016 - now</h5>
										<p>Graphic Design Coordinator<br>Scott Laboratories Inc.</p>
									</div>
									<div class="contAnimated">
										<i class="fa fa-circle-o" aria-hidden="true"></i><h5>Jul 2015 - Aug 2016</h5>
										<p>Graphic Design Coordinator<br>Portocork America</p>
									</div>
								</div>
							</div>
						</div>
					</div>


					<div class="skewTop title5">
						<p>skills</p>
					</div>

					<div class="container">
						<div class="row">
							<div class="col-xs-4">
								<div class="skills">
									<p class="skill-name">HTML5</p>
		              <div class="skill-bar">
		                <div class="skill">
		                </div>
		              </div>
		              <p class="skill-name">JavaScript</p>
		              <div class="skill-bar">
		                <div class="skill2">
		                </div>
		              </div>
									<p class="skill-name">CSS3</p>
									<div class="skill-bar">
										<div class="skill">
										</div>
									</div>
		              <p class="skill-name">AngularJS</p>
		              <div class="skill-bar">
		                <div class="skill3">
		                </div>
		              </div>
		              <p class="skill-name">jQuery</p>
		              <div class="skill-bar">
		                <div class="skill2">
		                </div>
		              </div>
									<p class="skill-name">JSON</p>
									<div class="skill-bar">
										<div class="skill">
										</div>
									</div>
									<p class="skill-name">APIs</p>
									<div class="skill-bar">
										<div class="skill2">
										</div>
									</div>
									<p class="skill-name">PhotoShop</p>
									<div class="skill-bar">
										<div class="skill3">
										</div>
									</div>
		              <p class="skill-name">Illustrator</p>
		              <div class="skill-bar">
		                <div class="skill">
		                </div>
		              </div>
								</div>
							</div>

							<div class="col-xs-4 col-xs-offset-2">
								<div class="education">
									<div class="contAnimated">
										<i class="fa fa-circle-o" aria-hidden="true"></i><h5>Mar 2017 - now</h5>
										<p>Front-End Development<br><span>Codify Academy<br>San Francisco, CA.</span></p>
									</div>
									<div class="contAnimated">
										<i class="fa fa-circle-o" aria-hidden="true"></i><h5>Oct 2016 - now</h5>
										<p>Front-End Development<br><span>Free Code Camp<br>www.freecodecamp.org</span></p>
									</div>
									<div class="contAnimated">
										<i class="fa fa-circle-o" aria-hidden="true"></i><h5>Aug 2008 - Jul 2013</h5>
										<p>Communications & Marketing<br><span>Universidad Peruana de Ciencias Aplicadas (UPC) - Lima, Peru</span></p>
									</div>
								</div>
							</div>


							<div class="col-xs-4 col-xs-offset-2">
								<div class="hobbies">
									<div class="contAnimated">
										<p>One of my biggest passions is learning.<br>I know, I'm weird.</p>
									</div>
									<div class="contAnimated">
										<p>From playing musical instruments, to cooking. From learning languages -including coding-, to graphic designing. Or, from traveling around the world, to always trying new things.I just love to feed myself with new knowledge everyday.</p>
									</div>
									<div class="contAnimated">
										<p>Ps.: I also love swimming, puppies, and Peruvian food!</p>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>

				<div class="col-xs-3">

					<div class="skewBottom title6">
						<p>education</p>
					</div>

					<div class="skewBottom title7">
						<p>hobbies</p>
					</div>

				</div>

			</div>


			<div id="work" class="row">

				<div class="col-xs-9 left">

					<div class="skewTop title8">
						<p>latest work</p>
					</div>

					<div class="container">
						<div class="row">

							<div class="home-mast latest contAnimated">
								<div class="home-mast__container main-three">
									<a href="work/responsive-website/index.html" target="_blank">
										<div>
											<div class="absolute-bg" style="background-image: url('img/websites/psd-image-conversion.png');"></div>
										</div>
									</a>
								</div>
							</div>

							<div class="home-mast latest contAnimated">
								<div class="home-mast__container main-three">
									<a href="work/google-books-api/index.html" target="_blank">
										<div>
											<div class="absolute-bg" style="background-image: url('img/websites/google-books-search.png');"></div>
										</div>
									</a>
								</div>
							</div>

							<div class="home-mast latest contAnimated">
								<div class="home-mast__container main-three">
									<a href="work/digital-clock/index.html" target="_blank">
										<div>
											<div class="absolute-bg" style="background-image: url('img/websites/digital-clock.png');"></div>
										</div>
									</a>
								</div>
							</div>


							<div class="home-mast oldest contAnimated">
								<div class="home-mast__container">
									<a href="#four" target="_blank">
										<div>
											<div class="absolute-bg" style="background-image: url('img/websites/huarique-restaurant.png');"></div>
										</div>
									</a>
									<a href="work/e-commerce/index.html" target="_blank">
										<div>
											<div class="absolute-bg" style="background-image: url('img/websites/e-commerce-template.png');"></div>
										</div>
									</a>
									<a href="work/marvel-quiz/index.html" target="_blank">
										<div>
											<div class="absolute-bg" style="background-image: url('img/websites/marvel-quiz.png');"></div>
										</div>
									</a>
									<a href="work/commenting-app/index.html" target="_blank">
										<div>
											<div class="absolute-bg" style="background-image: url('img/websites/commenting-app.png');"></div>
										</div>
									</a>
									<a href="#eight" target="_blank">
										<div>
											<div class="absolute-bg" style="background-image: url('img/websites/site8.png');"></div>
										</div>
									</a>
									<a href="#nine" target="_blank">
										<div>
											<div class="absolute-bg" style="background-image: url('img/websites/site9.jpg');"></div>
										</div>
									</a>
									<!-- <a href="#ten" target="_blank">
										<div>
											<div class="absolute-bg" style="background-image: url('img/websites/site10.png');"></div>
										</div>
									</a> -->
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-3"></div>

			</div>



			<div id="contact" class="row">

				<div class="col-xs-9 left">

					<div class="skewTop title9">
						<p>want to get
							<!-- <br> -->
							in touch?</p>
					</div>

					<!-- <div class="contAnimated" id="email-me">
						<button class="contact-me btn-default" type="button" name="email-me">email me</button>
						<i class="fa fa-paper-plane-o fa-3x"></i>
					</div> -->

					<div class="container">

						<div class="frame contAnimated">
				      <div id="button_open_envelope">
				        <h1>
				          message me
				        </h1>
				      </div>



				      <div class="message">
								<form id="contact-form" class="form form-contact">
	                <div class="col-md-12">
	                  <input id="input-name" name="name" type="text" placeholder="Name*" required class="form-control input-md">
	                </div>
	                <div class="col-md-12">
	                  <input id="input-email" name="email" type="email" placeholder="Email*" required class="form-control input-md">
	                </div>
	                <div class="col-md-12">
	                  <textarea id="input-message" name="message" placeholder="Message*" required class="form-control input-md"></textarea>
	                </div>
	                <div class="col-md-7">
	                  <div id="send-result" class="mt-20"></div>
	                </div>
	                <div class="col-md-5">
	                  <button id="submit-message" class="btn btn-coffee btn-medium">Send message</button>
	                </div>
	              </form>
				      </div>
				      <div class = "bottomEnv"></div>
				      <div class = "leftEnv"></div>
				      <div class = "rightEnv"></div>
				      <div class = "topEnv"></div>
				    </div>

					</div>

				</div>

				<div class="col-xs-3"></div>

				<!-- <div class="col-xs-12 footer">
					<footer>
						<p>© 2017 Enrique Novoa</p>
					</footer>
				</div> -->

			</div>



		</div>

	<!-- WRAPPER ENDS -->
