body {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		background: linear-gradient(#8D0F03 0%, #F7B93E 12%, #2186C4 40%, purple 70%, orange 100%);
}

/*style for Header 1 Title*/
.title {
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	text-align:center;
	font-size:48px;
	color: white;
	text-shadow: 0 0 5px #0aafe6, 0 0 5px rgba(10, 175, 230, 0);
	letter-spacing: 0.02em;
	margin: 60px auto 20px;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	text-align: center;
	margin-bottom: 40px;
	color: white;
	text-shadow: 0 0 3px #821414, 0 0 3px rgba(10, 175, 230, 0);
}

/*style for correct answers*/
.correct {
	color:green;
}

/*style for incorrect answers*/
.incorrect {
	color:red;
}

.correct, .incorrect {
	font-family: 'Quicksand', sans-serif;
	font-size: 4em;
	font-weight: bold;
}

input.no {
	border: 2px solid red;
	box-shadow: 0 0 5px red;
}

input.yes {
	border: 2px solid green;
	box-shadow: 0 0 5px green;
}

.col-sm-12 {
	text-align: center;
}

.form-control {
	height: 50px;
	width: 30%;
	left: 35%;
	margin-top: -85px;
	position: absolute;
	border: 2px solid black;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.form-group {
	text-align: center;
}

/*style for question divs*/
.form-group > div {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.1;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*style for h1 elements*/
h1.correct, h1.incorrect {
	text-align: center;
}

/*style for images*/
img {
	border: 2px solid black;
	border-radius: 10px;
	width: 30vw;
	height: auto;
	margin-bottom: 60px;
}

#results {
	margin-top: 40px;
	background-size: 100%;
	background-position: center bottom;
	background-repeat: no-repeat;
}

button.btn {
	font-size: 24px;
	font-weight: bold;
	padding: 8px 30px;
	font-family: 'Quicksand', sans-serif;
	border: 2px solid black;
	border-radius: 10px;
}
