body {
  height: 70vh;
}

body {
  background: #0f3854;
  background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
  background-size: 100%;
  font-size: 16px;
}

.clock {
  height: 80%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}

#time, #date, .text {
  color: #daf6ff;
  font-family: courier, monospace;
  margin: 0 auto;
  position: relative;
  width: 80%;
}

#time {
  /* margin-top: 40vh; */
  font-size: 16vh;
}

#date {
  margin-top: 30vh;
  font-size: 4vh;
}

.text {
  font-size: 2vh;
}

.text {
  /* margin-top: 65vh; */
}
